<% title(_('Policy & Settings: %{team}') % { team: @team.name }) %>

<div class="d-flex justify-content-between align-items-start mb-4">
  <div>
    <h1 class="h3 mb-1"><%= _('Policy & Settings') %></h1>
    <p class="text-muted mb-0"><%= _('Current policy configuration for this team.') %></p>
  </div>
  <% if @team.admin?(current_user) %>
    <%= link_to edit_team_policy_path(@team), class: 'btn btn-primary btn-sm' do %>
      <em class="bi bi-pencil me-1"></em><%= _('Edit Policy') %>
    <% end %>
  <% end %>
</div>

<div class="row">
  <%# Category Navigation (left column) %>
  <div class="col-auto" style="min-width: 220px;">
    <%= render 'category_nav' %>
  </div>

  <%# Content (right column) %>
  <div class="col">
    <%= render partial: "team_policies/#{@current_view}" %>
  </div>
</div>
